.card {
    position: relative;
    width: 100%;
    height: 330px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.small {
    grid-column: span 1;
  }
  
.wide {
    grid-column: span 2;
}

.card img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease-in-out;
    object-fit: cover;
}

.card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 30px 30px;
    color: var(--white);
    opacity: 0;
    transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.card:hover .card__overlay {
    background: rgba(0, 0, 0, 0.50);
    opacity: 1;
}

.card:hover img {
    filter: blur(0.5px); /* Reduce blur intensity */
}

.title {
    font: var(--reg-40);
    margin: 0;
}

.year {
    font: var(--reg-16);
    margin: 0;
}

