.main {
    color: var(--white);
    background-color: var(--black);
}

.preview {
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
    transform: scale(1) !important;
    z-index: 1000; 
}

.previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 1; /* Ensure smooth transitions */
    transition: opacity 0.2s ease-in-out; /* Backup CSS animation */
}

.category p {
    color: var(--mid-grey);
}

.menuContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project {
    width: 100%;
    padding: 2.5em 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--mid-grey);
    cursor: pointer;

    text-decoration: none !important; 
    color: inherit !important; 
    cursor: pointer; 
}

.project p {
    font: var(--reg-40);
    color: var(--black);
    text-transform: uppercase;
    line-height: 100%;
    text-decoration: none;
    color: inherit;
}

.projects a {
    all: unset !important;
    text-decoration: none !important;
    color: inherit !important; 
    display: block !important; 
}


.project > div {
    flex: 3;
}

.project div:last-child {
    flex: 1;
}

@media (max-width: 900px) {
    .location,
    .service {
        display: none;
    }
}

