.main {
    color: var(--white);
    background-color: var(--black);
}

.preview {
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
    transform: scale(0);
    z-index: 2;
}

.preview__img {
    width: 1005;
    height: 100%;
    background: url('/public/img/mon-logo.png');
    background-size: cover;
    background-position: 0 0;
    pointer-events: none;
}

.project p {
    font: var(--reg-40);
    text-transform: uppercase;
    line-height: 100%;
}

.category p {
    color: var(--mid-grey);
}

.menuContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.project {
    width: 100%;
    padding: 2.5em 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--mid-grey);
}

