.filterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
}

.filterItem {
    font: var(--reg-16);
    color: var(--mid-grey);
}
