

.bg {
  background-color: #121212;
  position: relative;
  padding-bottom: 5rem;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.col {
  width: 100%;
  text-align: center;
}

.text {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(45deg, #fa9b8b 0%, #f27481 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textCenter {
  text-align: center;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
}

.btnIcon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.hiddenContent {
  --x: 0px;
  --y: 0px;
  --size: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(251, 156, 132, 1) 0%,
    rgba(240, 102, 128, 1) 50%,
    rgba(129, 36, 112, 1) 100%
  );
  color: #121212;
  --mask: radial-gradient(circle at var(--x) var(--y), black var(--size), transparent 0);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  pointer-events: none;
  visibility: hidden;
}
