

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
  overflow: hidden;
}

.bg {
  position: relative;
  width: 100%;
}

.content,
.hiddenContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  pointer-events: none;
}

.content p {
  background: linear-gradient(45deg, #fa9b8b 0%, #f27481 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hiddenContent {
  --x: 0px;
  --y: 0px;
  visibility: hidden;
  background: linear-gradient(180deg, #fb9c84 0%, #f06680 50%, #812470 100%);
  -webkit-mask-image: radial-gradient(circle 5px at var(--x) var(--y), black, transparent);
  mask-image: radial-gradient(circle 5px at var(--x) var(--y), black, transparent);
}

.textBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.linkContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.linkContainer a {
  color: white;
  text-decoration: none;
}

.linkContainer a:hover {
  color: white;
}
