.filterContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 30px;
}

.filterItem {
    font: var(--reg-16);
    color: var(--mid-grey);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.filterItem:hover{
    color: var(--pink);
    transition: color 0.3s ease-in-out; /* Smooth transition */
}

.active {
    font: var(--reg-16);
    color: var(--pink);
    transition: color 0.3s ease-in-out; /* Smooth transition */
}
