.frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video__timestamp p,
.cursor p {
    color: var(--white);
    font: var(--reg-13);
}

.overlay {
    width: 100%; /* Use 100% instead of 100vw */
    height: 100vh; /* Adjust height as needed */
    position: relative; /* Relative positioning for the container */
    background-color: rgba(0); /* Optional: Add a background overlay */
    overflow: hidden;
}

.video__container {
    position: relative; /* Change from fixed to relative */
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.video__container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video__timeline {
    position: absolute;
    bottom: -160px; /* Hide the timeline by default */
    left: 0;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.5em;
    cursor: pointer;
    background-color: rgba(17, 3, 13, 0.5);
    z-index: 1;
    opacity: 0; /* Start fully transparent */
    transform: translateY(20px); /* Start slightly shifted down */
    transition: all 0.5s ease-in-out; /* Smooth transition */
}

.video__timeline.visible {
    bottom: 0; /* Slide up */
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Reset position */
}

.video__timestamp {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.video__frames {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    border-top: 1px dashed var(--white);
    padding: 0.75em 0;
}

.frame {
    position: relative;
}

.frame::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 3, 13, 0.5);
    transition: 0.3s;
}

.frame:hover::after {
    background: rgba(17, 3, 13, 0);
}

.video__marker {
    position: absolute;
    bottom: 0.75em;
    left: 0;
    width: 2px;
    height: 150px;
    background: red;
    transition: left 0.5s linear;
    z-index: 2;
}

.video__marker::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: red;
}

.cursor {
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
    z-index: 2;
}

@media (max-width: 900px) {
    .video__timeline {
        height: 100px;
    }

    .video__timestamp p:nth-child(2),
    .video__timestamp p:nth-child(3),
    .video__timestamp p:nth-child(5),
    .video__timestamp p:nth-child(6),
    .video__timestamp p:nth-child(8),
    .video__timestamp p:nth-child(9),
    .video__timestamp p:nth-child(11),
    .video__timestamp p:nth-child(12),
    .video__timestamp p:nth-child(14),
    .video__timestamp p:nth-child(15) {
        display: none;
    }

    .video__frames {
        gap: 0.25em;
        border-bottom: none;
    }

    .video__marker {
        height: 100px;
    }

    .cursor {
        display: none;
    }
}

.muteButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: rgba(17, 3, 13, 0.5);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font: var(--reg-13);
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.3s ease, bottom 0.5s ease-in-out;
}

.muteButton:hover {
    /* background-color: rgba(0, 0, 0, 0.9); */
    transform: scale(1.05); /* Slightly scale up on hover */
}

.muteButton.timelineVisible {
    bottom: 180px; /* Adjust according to the timeline height */
}