.blendingMode {
    background-color: var(--black);
    overflow: hidden;
}

.sec1__img, 
.sec1__desc {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}

.sec1__img img {
    width: 100%;
    height: auto;
    object-fit: fill;
}
