.blendingMode {
    background-color: var(--black);
    overflow: hidden;
}

.sec1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
}

.sec1__desc {
    display: flex;
    flex-direction: column;
}

.sec1__img, 
.sec1__desc {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sec1__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* aspect-ratio: 1 / 1; */
}

.sec1__desc {
    padding: 100px 30px 0;
    color: var(--white);
    font: var(--reg-16);
    text-transform: uppercase;
    height: 100%;
}

.desc__top {
    align-self: flex-start;
}

.desc__bot {
    align-self: flex-end;
}
