.blendingMode {
    background-color: var(--white);
    overflow: hidden;
}

.logo, 
.color,
.typography {
    width: 100vw;
    height: auto;
}

.logo img, 
.color img,
.typography img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}