.blendingMode {
    background-color: var(--white);
    overflow: hidden;
}

.logo, 
.color,
.typography {
    width: 100vw;
    height: auto;
}

.logo img, 
.color img,
.typography img {
    width: 100vw;
    height: auto;
    object-fit: cover;
    display: block;
}

/*** SCREENS ***/
.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #141414;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1560px;
  padding: 1px 74px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.scrollableText {
  margin: 0;
  color: #FFFFFC;
  font-family: var(--font-roboto);
  font-size: 100px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 174px;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.pinkText {
    color: #F94E9B;
}

.img {
  /* display: inline-block; */
  width: 400px;
  height: 500px;
  /* background: linear-gradient(#e66465, #9198e5); */

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.img img{
    width: 100%;
    height: auto;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

