.blendingMode {
    background-color: var(--white);
}

/*** PROBLEM ***/
.problem {
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
    padding: 100px 30px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
}

.problem__state,
.problem__gap {
    width: 60%;
}

.problem__state h1,
.problem__gap h1 {
    font: var(--reg-40);
    color: var(--beep-pink);
    text-transform: uppercase;
}

.problem__state p,
.problem__gap p {
    font: var(--reg-40);
}

/*** SOLUTION ***/
    /*** SLIDER ***/
    .content img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        display: grid;
        flex-shrink: 0;
        place-items: center;
    }

    .content {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        display: grid;
        flex-shrink: 0;
        place-items: center;

        background-color: var(--black);
    }

    solution__img {
        width: auto;
        height: 489px;
    }

    .horizontal {
        display: flex;
        height: 100vh;
        width: 100vw;
    }





