@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Black.ttf') format('ttf'),
       url('/fonts/Satoshi-BlackItalic.ttf') format('ttf'),
       url('/fonts/Satoshi-Bold.tff') format('ttf'),
       url('/fonts/Satoshi-BoldItalic.ttf') format('ttf'),
       url('/fonts/Satoshi-Italic.ttf') format('ttf'),
       url('/fonts/Satoshi-Light.ttf') format('ttf'),
       url('/fonts/Satoshi-LightItalic.ttf') format('ttf'),
       url('/fonts/Satoshi-Medium.ttf') format('ttf'),
       url('/fonts/Satoshi-MediumItalic.ttf') format('ttf'),
       url('/fonts/Satoshi-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Script';
  src: url('/fonts/Aston Script.ttf') format('truetype')
}

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Regular.ttf') format('ttf'),
       url('/fonts/Switzer-Italic.ttf') format('ttf'),
       url('/fonts/Switzer-Bold.ttf') format('ttf'),
}

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white: #FFFEFF;
  --black: #11030D;
  --pink: #F42272;
  --light-pink: #FDBBCB;
  --mid-grey: #7D7B7D;

  --beep-purple: #651FD7;
  --beep-pink: #F7185B;
  --beep-black: #141216;
  --beep-white: #F4F0F1;

  --reg-13: 13px 'Satoshi', sans-serif;
  --reg-16: 16px 'Satoshi', sans-serif;
  --reg-20: 20px 'Satoshi', sans-serif;
  --reg-40: 40px 'Satoshi', sans-serif;
  --reg-85: 85px 'Satoshi', sans-serif;
  --bod-200: 200px 'Satoshi-Bold', sans-serif;

  --script-30: 30px 'Script';

  --beep-bod-320: 200px 'Switzer-Bold', sans-serif;
  --font-roboto: "Roboto", sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blendingMode {
  background-color: var(--white);
}

html {
  /* padding: 0 30px; */
}
