@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi-Black.ttf') format('ttf'),
       url('fonts/Satoshi-BlackItalic.ttf') format('ttf'),
       url('fonts/Satoshi-Bold.tff') format('ttf'),
       url('fonts/Satoshi-BoldItalic.ttf') format('ttf'),
       url('fonts/Satoshi-Italic.ttf') format('ttf'),
       url('fonts/Satoshi-Light.ttf') format('ttf'),
       url('fonts/Satoshi-LightItalic.ttf') format('ttf'),
       url('fonts/Satoshi-Medium.ttf') format('ttf'),
       url('fonts/Satoshi-MediumItalic.ttf') format('ttf'),
       url('fonts/Satoshi-Regular.ttf') format('ttf');
}

:root {
  --white: #FFFEFF;
  --black: #11030D;
  --pink: #F42272;
  --light-pink: #FDBBCB;
  --mid-grey: #7D7B7D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

