.img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
}

/*** SLIDER ***/
.content {
    overflow: hidden;
}

.slider__img {
    display: block;

    width: 102%;  /* Scale width slightly */
    height: 102%; /* Scale height slightly */
    object-fit: cover;
}

.content img {
    width: auto;
    height: 100vh;
    object-fit: cover;
    display: grid;
    flex-shrink: 0;
    place-items: center;
}

.horizontal {
    display: flex;
    height: 100vh;
    width: 100vw;
/* 
    will-change: transform;
    scroll-behavior: smooth; */

    /* overflow-x: hidden; */
}
