.img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
}

.slider__img {
    display: block;
}

/*** SLIDER ***/
.content img {
    width: auto;
    height: 100vh;
    object-fit: cover;
    display: grid;
    flex-shrink: 0;
    place-items: center;
}

.horizontal {
    display: flex;
    height: 100vh;
    width: 100vw;

    transition: transform 0.8s ease-in-out;

    /* overflow-x: hidden; */
}
