.blendingMode {
    background-color: var(--white);
    overflow: hidden;
}

.print {
    background-image: url('/img/graphic/vietname/water.webp'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
}