.mainContainer {
    padding: 90px 30px 100px 30px;
    background-color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -40px;
}

.header__filter {
    padding-top: 135px;
}

/*** IMAGE ***/
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
    gap: 20px;
    justify-content: center;
    background-color: var(--white);
}