.mainContainer {
    padding: 90px 30px 0 30px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__filter {
    padding-top: 150px;
}