@counter-style pad-it {
  system: extends decimal;
  pad: 2 '0';
  suffix: '. ';
}

.wrapper {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 9999;
  transition: all 0.4s ease-in-out;
}

.trigger {
  width: 280px;
  height: 60px;
  border-radius: 100px;
  color: var(--white);
  background: hsl(0 0% 8%);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  font-family: inherit;
  font: var(--reg-16);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.trigger:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  scale: 1.05;
}

/* Expanded state */
.open .trigger {
  width: 280px;
  height: fit-content;
  border-radius: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  background: hsl(0 0% 10%);
}

/* Initial icon + label row */
.trigger__details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.size6 {
  width: 1.5em;
  height: 100%;
}

.index__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Scroll % pill */
.progress {
  margin-left: auto;
  font-size: 0.75rem;
  background: hsl(0 0% 35%);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-variant-numeric: tabular-nums;
}

.open .progress {
  display: none;
}

/* List slides in */
.popoverList {
  /* margin-top: 1rem; */
  list-style: pad-it;
  padding-inline: 0.5rem;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease, filter 0.4s ease;
  counter-reset: section;
  width: 100%;
  filter: blur(4px);
  gap: 0.5rem;
}

.open .popoverList {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  filter: blur(0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.listItem {
  margin-bottom: 0.5rem;
  font: var(--reg-16);
  text-align: left;
  color: var(--mid-grey);
}

.listLink {
  color: var(--mid-grey);
  text-decoration: none;
  display: block;
  padding-block: 0.5rem;
  transition: color 0.2s ease;
  padding: 0;
}

.listLink:hover,
.listLink:focus-visible,
.listItem:has(.listLink:hover)::marker {
  color: var(--white);
  transition: color 0.2s ease;
}

/* Line animation for SVG */
.lines {
  stroke-dasharray: 1.025;
  stroke-dashoffset: 1.025;
  animation: draw linear forwards;
  animation-timeline: --content;
}

.popoverList {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 0.5rem;
}

.overviewLink {
  display: inline-block;
}

.numberedList {
  margin: 0;
  padding-left: 0rem;
} 

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 768px) {
  .trigger {
    width: 160px;
  }

  .open .trigger {
    width: 90vw;
    height: 60vh;
  }
}

@media (prefers-color-scheme: dark) {
  .trigger,
  .open .trigger {
    background: hsl(0 0% 14%);
  }

  .progress {
    background: hsl(0 0% 0%);
  }
}
