.string {
    height: 200px;
    width: 100vw;
    /* background-color: red; */
    z-index: -1;
    margin: -50px;
    bottom: 10px;
    overflow: visible;
}

.svg {
    pointer-events: none;
}

.svg path {
    pointer-events: none;
}

