.stringContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it's behind other elements */
}

.svg {
    width: 100%;
    height: 100%;
}

.svg path {
    pointer-events: none; /* Allows mouse events to pass through */
}