/* @font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Black.ttf') format('truetype'),
       url('/fonts/Satoshi-BlackItalic.ttf') format('truetype'),
       url('/fonts/Satoshi-Bold.ttf') format('truetype'),
       url('/fonts/Satoshi-BoldItalic.ttf') format('truetype'),
       url('/fonts/Satoshi-Italic.ttf') format('truetype'),
       url('/fonts/Satoshi-Light.ttf') format('truetype'),
       url('/fonts/Satoshi-LightItalic.ttf') format('truetype'),
       url('/fonts/Satoshi-Medium.ttf') format('truetype'),
       url('/fonts/Satoshi-MediumItalic.ttf') format('truetype'),
       url('/fonts/Satoshi-Regular.ttf') format('truetype');
} */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Satoshi Regular */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Satoshi Bold */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Satoshi Light */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Satoshi Italic */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Script';
  src: url('/fonts/Aston Script.ttf') format('truetype')
}

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Regular.ttf') format('truetype'),
       url('/fonts/Switzer-Italic.ttf') format('truetype'),
       url('/fonts/Switzer-Bold.ttf') format('truetype'),
}

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white: #FFFEFF;
  --black: #11030D;
  --pink: #F42272;
  --light-pink: #FDBBCB;
  --mid-grey: #7D7B7D;

  --beep-purple: #651FD7;
  --beep-pink: #F7185B;
  --beep-black: #141216;
  --beep-white: #F4F0F1;

  --reg-10: 10px 'Satoshi', sans-serif;
  --reg-12: 12px 'Satoshi', sans-serif;
  --reg-13: 13px 'Satoshi', sans-serif;
  --reg-16: 16px 'Satoshi', sans-serif;
  --reg-20: 20px 'Satoshi', sans-serif;
  --reg-40: 35px 'Satoshi', sans-serif;
  --reg-85: 85px 'Satoshi', sans-serif;
  --bod-20: 20px 'Satoshi-Bold', sans-serif;
  --bod-200: 200px 'Satoshi-Bold', sans-serif;

  --script-30: 30px 'Script';

  --beep-bod-320: 200px 'Switzer-Bold', sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --canvas: white;
  --canvasText: black;
  --progress: 0;
  --content-width: fit-content;
  --content-height: fit-content;
  --popover-bg: hsl(0 0% 8%);
  --progress-bg: hsl(0 0% 35%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blendingMode {
  background-color: var(--white);
}

html {
  /* padding: 0 30px; */
}

/*** ScrollIndex ***/
:root {
  --progress: 0;
}

@keyframes scroll-progress {
  to {
    --progress: 100;
  }
}

:root {
  --progress: 0;
  counter-reset: progress var(--progress);
  timeline-scope: --content;
}

body {
  view-timeline: --content;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}