.contact__links {
    display: flex;
    flex-direction: column;
}

.contact__links a {
    font: var(--reg-85);
    font-size: clamp(85px, 5vw, 150px);
    text-decoration: none;
    color: var(--black);
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-width: fit-content;
    opacity: 1; /* Default opacity */
}

.contact__links:hover a {
    opacity: 0.3; /* Fade out all links when the parent is hovered */
}

.contact__links a:hover {
    color: var(--pink); /* Change color to pink on hover */
    opacity: 1; /* Ensure the hovered link is fully visible */
}

.contact__links a:active {
    color: var(--black); /* Immediately resets to black after click */
}

.closer {
    margin-top: -30px;
}

.footer__caption {
    width: calc(100vw - 60px);
    display: flex;
    flex-direction: row;
    font: var(--reg-16);
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-end;
}

.contact__caption img {
    width: 1010px;
    height: auto;
    object-fit: cover;
    display: block;
}

.footer__info {
    margin-bottom: 30px;
    color: var(--black);
}