.footer {
    height: 100vh; /* Make footer take up the entire viewport */
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: var(--white); 
}

.contact__links a {
    font: var(--reg-85);
}

.contact__links {
    display: flex;
    flex-direction: row;
}